{% extends "base.html"%}
{% load staticfiles %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block extra_js %}
<script  src="{% static 'js/jquery-ui.js' %}"></script>
<script  src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block content%}
    <style>

    </style>
    <div class="container">
        <div class="col-sm-10">
          <div class="row ">
            <h4><u>Saved Collections</u></h4>
          </div>
            {% for obj in object_list %}
            <div class="row">
                <div class="col-sm-5">
                    {{obj}}
                </div>
                <div class="col-sm-2">
                    <a href="{% url 'open_collection' obj.collection_id %}">Open</a>
                </div>
                <div class="col-sm-2">
                    <a href="{% url 'delete_collection' obj.collection_id %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
