{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="row">
<h1>Zendesk Ticket Collector</h1>
</div>
<div class="row">
<img src="{{request.user.profile.avatar}}">
<span>{{request.user.first_name}} {{request.user.last_name}}</span>
</div>
<p>&nbsp;</p>
<div class="row">      
<a href="{% url 'new_collection' %}" class="btn btn-default btn-lg ">New Collection</a>
<a href="{% url 'list_collection' %}" class="btn btn-default btn-lg ">Saved Collections</a>
<a href="{% url 'logout' %}" class="btn btn-default btn-lg">Logout</a>
<p class="lead" id="current-collection" {% if not collection %} style="display:none;" {% endif %}>
{% if collection %}
Current Collection Name : {{collection.name}}
{% endif %}
</p>
</div>
<p>&nbsp;</p>