    <div class="modal-dialog">
        <form method="post" action="" id="save-collection-doc-form">
            {% csrf_token %}
      <div class="modal-content panel-warning">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ticket Details</h4>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                    Ticket # <span id="ticket_id_holder">{{object.zd_ticket_id}}</span>
                    </div>
                    <div class="col-sm-3">
                        Request Date <span id="ticket_created_at_holder">{{object.created_at}}</span>
                    </div>
                </div>
                <div class="row">
                    Subject : {{object.subject}}
                </div>
                <div class="row">
                    {{object.requester}}
                </div>
                <div class="row">
                    {{object.description}}
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        {% for comment in object.comment_ticket.all %}
                            <ul>
                                <li>{{comment.created_at}}</li>
                                <li>{{comment.posted_by}}</li>
                                <li>{{comment.plain_body}}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add to Collection Doc">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>